/* Icons*/

/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
}
a {
  text-decoration: none;
}
img {
  display: block; /*베이스라인 적용돼서 띄워져 보이는 것 상쇄*/
}
.inner {
  position: relative;
  width: 1100px;
  margin: 0 auto; /*수평 중앙 정렬*/
}
.strong {
  font-weight: 700;
}
/*BUTTON*/
.btn {
  display: inline-block;
  padding: 6px 20px;
  border: 2px solid currentColor; /*색 지정 안해주면 부모 색 따름*/
  border-radius: 5px;
  font-size: 15px;
}
.btn--light-green {
  color: #076443;
  border-color: #076443;
  transition: 0.6s;
}
.btn--light-green:hover {
  background-color: #076443;
  border-color: black;
  color: white;
  text-decoration: underline;
}
.btn--brown {
  color: #633510;
  border-color: #633510;
  transition: 0.6s;
}
.btn--brown:hover {
  background-color: #633510;
  color: white;
  text-decoration: underline;
}
.btn--gold {
  border-color: #966932;
  color: #966932;
  transition: 0.6s;
}
.btn--gold:hover {
  background-color: #966932;
  color: white;
  text-decoration: underline;
}
.btn--white {
  color: #fff;
  border-color: #fff;
  transition: 0.6s;
}
.btn--white:hover {
  color: black;
  background-color: #fff;
  text-decoration: underline;
}
.btn--black {
  border-color: #000;
  color: #000;
  transition: 0.6s;
}
.btn--black:hover {
  background-color: #000;
  color: white;
  text-decoration: underline;
}
/* HEADER */
header {
  width: 100%;
  position: fixed;
  top: 0; /*상단에 고정*/
  background-color: #f6f5ef;
  border-top: 2px solid black;
  border-bottom: 1px solid #eae7e2;
  z-index: 1;
}
header > .inner {
  height: 120px;
}
header .inner .logo {
  position: absolute;
  height: 75px;
  top: 0;
  bottom: 0;
  margin: auto;
}

/*sub menu*/
header .inner .sub-menu {
  display: flex;
  position: absolute; /*마음대로 이동시키기*/
  top: 6px;
  right: 50px;
}
header .inner .sub-menu .sub-menu__menu {
  display: flex;
}

header .inner .sub-menu .sub-menu__menu > li:not(:first-child)::before {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  display: block; /*넓이를 주기 위해서*/
  width: 1px;
  height: 13px;
  background-color: #e5e5e5;
}
header .inner .sub-menu .sub-menu__menu > li > a {
  display: block;
  color: #656565;
  font-size: 13px;
  padding: 10px 15px;
}
header .inner .sub-menu .sub-menu__menu > li > a:hover {
  text-decoration: underline;
}
header .inner .sub-menu .search {
  position: relative;
}
header .inner .sub-menu .search > input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  transition: width 0.4s;
}
header .inner .sub-menu .search > input:focus {
  width: 190px;
}
header .inner .sub-menu .search > .material-symbols-outlined {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 24px;
  margin: auto;
  right: 3px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/*Main menu*/
header .inner .main-menu {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}

header .inner .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-size: 13px;
}
header .inner .main-menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #669900;
  text-decoration: underline;
}
header .inner .main-menu .item .item__contents {
  position: fixed;
  display: none;
  left: 0;
  /* transform: scaleY(0);
  transform-origin: center top; /*가로축에서 어디서 시작하는지, 세로축에서 어디서 시작하는지 */
  /*transition: 0.5s; */
  top: 120px;
  width: 100%;
  border: 1px solid black;
}
header .inner .main-menu .item:hover .item__contents {
  display: block;
  /* transform: scale(1); */
}
header .inner .main-menu .item .item__contents .item__contents__menu {
  background-color: #2c2a29;
  padding: 20px 0px;
}
header .inner .main-menu .item .item__contents .item__contents__menu .inner {
  display: flex;
}
header
  .inner
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li {
  width: 200px;
  padding-right: 20px;
}
header
  .inner
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > a {
  display: block;
  margin-bottom: 15px;
  color: white;
  font-size: 14px;
  font-weight: 700px;
}
header
  .inner
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > a:hover {
  text-decoration: underline;
}

header
  .inner
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > ul
  > li {
  color: #999;
  font-size: 12px;
  margin: 5px 0;
}
header
  .inner
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > ul
  > li:hover {
  cursor: pointer;
  text-decoration: underline;
}
/*Badges*/
header .badges {
  position: absolute; /*fixed아니지만, 부모가 fixed이므로*/
  top: 150px;
  right: 10px;
  left: calc(1100px + (100vw-1100px) / 2);
}
header .badges .badge {
  cursor: pointer;
}
header .badges .badge img {
  width: 140px;
}
@media screen and (max-width: 1400px) {
  header .badges {
    left: calc(100vw-150px);
  }
}
/*VISUAL*/
.visual {
  margin-top: 120px;
  background-image: url("../images/visual_bg.jpg");

  position: relative;
  background-size: 106% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.visual .inner {
  position: relative;
  height: 646px;
}
.visual .inner .slogan {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  width: 340px;
  top: 190px;
  left: -130px;
}
.visual .inner .slogan img {
  width: 340px;
}
.visual .inner .slogan .btn {
  position: absolute;
  top: 250px;
}

.visual .inner .item-1 {
  position: absolute;
  width: 290px;
  top: 120px;
  left: 340px;
}
.visual .inner .item-2 {
  position: absolute;
  width: 310px;
  top: 208px;
  left: 538px;
}
.visual .inner .item-3 {
  position: absolute;
  width: 310px;
  top: 162px;
  left: 762px;
}

/*Notice*/
.notice {
  position: relative;
}
.notice .notice-line {
  font-weight: 700;
  position: relative;
}
.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #111111;
}
.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}
.notice .notice-line .inner {
  display: flex;
  height: 62px;
}
.notice .notice-line .inner .inner__left {
  position: relative;
  width: 60%;
  height: 100%;
  background-color: #111111;
  display: flex;
  align-items: center;
  color: white;
}
.notice .notice-line .inner .inner__left h1 {
  position: absolute;
  left: 0;
  font-size: 16ox;
}
.notice .notice-line .inner .inner__left div {
  position: absolute;
  left: 80px;
  font: size 14px;
}
.notice .notice-line .inner .inner__left a {
  position: absolute;
  right: 20px;
  color: white;
}

.notice .notice-line .inner .inner__left a span {
  font-size: 36px;
  vertical-align: bottom;
  /* display: block; */
}

.notice .notice-line .inner .inner__right {
  position: relative;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #f6f5ef;
}
.notice .notice-line .inner .inner__right h1 {
  position: absolute;
  right: 120px;
  font-size: 16px;
}
.notice .notice-line .inner .inner__right a {
  position: absolute;
  right: 20px;
  color: black;
}
.notice .notice-line .inner .inner__right a span {
  font-size: 36px;
  display: block;
}

/*REWARDS*/
.reward {
  position: relative;
  background-color: #123932;
}
.reward .inner {
  display: flex;
  position: relative;
  padding: 30px 0 40px 0;
}
.reward .inner .rewards__logo {
  display: flex;
  flex-basis: 260px;
  justify-content: center;
  align-items: center;
}
.reward .inner .rewards__logo img {
  display: block;
  width: 176px;
}
.reward .inner .rewards__items {
  flex-grow: 1;
}
.reward .inner .rewards__items .rewards__items__register {
  position: relative;
  padding-bottom: 12px;
  box-shadow: 0 0.5px #c8c8c8;
}
.reward .inner .rewards__items .rewards__items__register p {
  display: block;
  font-size: 17px;
  color: white;
}
.reward .inner .rewards__items .rewards__items__register p.subject {
  font-size: 26px;
  margin-bottom: 10px;
}
.reward .inner .rewards__items .rewards__items__register .buttons {
  position: absolute;
  right: 0;
  bottom: 12px;
}
.reward
  .inner
  .rewards__items
  .rewards__items__register
  .buttons
  .btn--register {
  background-color: #00704a;
  border-color: #00704a;
  color: white;
  margin-right: 6px;
}
.reward .inner .rewards__items .rewards__items__register .buttons .btn--login,
.reward .inner .rewards__items .rewards__items__card .buttons .btn--login {
  border-color: white;
  color: white;
  font-weight: 700;
}
.reward
  .inner
  .rewards__items
  .rewards__items__register
  .buttons
  .btn--register:hover,
.reward
  .inner
  .rewards__items
  .rewards__items__register
  .buttons
  .btn--login:hover,
.reward
  .inner
  .rewards__items
  .rewards__items__card
  .buttons
  .btn--login:hover {
  text-decoration: underline;
}

.reward .inner .rewards__items .rewards__items__card {
  position: relative;
}
.reward .inner .rewards__items .rewards__items__card p {
  display: block;
  margin-top: 20px;
  font-size: 14px;
  color: white;
}
.reward .inner .rewards__items .rewards__items__card .buttons {
  position: absolute;
  right: 0;
  bottom: 0;
}

/*Elsalvador*/
.elsalvador {
  position: relative;
  height: 579px;
  background-image: url("../images/elsalvador_bg.jpg");
  background-size: 105%;
  background-position: center;
  overflow: hidden;
  background-size: cover;
}
.elsalvador .inner {
  position: relative;
}
.elsalvador .inner img.elsalvador__item {
  position: absolute;
  top: 70px;
  left: 110px;
  width: 310px;
  transform: translateX(-700px);
  opacity: 0;
  transition: 2.5s;
}
.elsalvador .inner .elsalvador__contents {
  position: absolute;
  width: 339px;
  top: 180px;
  right: 140px;
  transform: translateX(900px);
  transition: 2.5s;
  opacity: 0;
}
.elsalvador:active .inner img.elsalvador__item,
.elsalvador:active .inner .elsalvador__contents {
  opacity: 1;
  transform: translateX(0);
}

.elsalvador .inner .elsalvador__contents .btn.btn--brown {
  margin-top: 40px;
}

/*Ethiopia*/
.ethiopia {
  position: relative;
  height: 400px;
  background-image: url("../images/ethiopia_bg.png");
  overflow: hidden;
}
.ethiopia::before {
  position: absolute; /*디스플레이 자동으로 block*/
  bottom: 0;
  left: -50px;
  content: "";
  background-image: url("../images/ethiopia_before.png");
  width: 425px;
  height: 404px;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
}
.ethiopia::after {
  position: absolute;
  content: "";
  height: 404px;
  width: 361px;
  bottom: 0;
  right: 0;
  background-image: url("../images/ethiopia_after.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
}
.ethiopia:active::before,
.ethiopia:active::after {
  transition: 1.5s;
  opacity: 1;
}

.ethiopia .inner {
  position: relative;
}
.ethiopia .inner .ethiopia__contents {
  position: absolute;
  width: 496px;
  left: 0;
  top: 120px;
}

.ethiopia .inner .ethiopia__item {
  position: absolute;
  top: 0;
  left: -500px;
  opacity: 0;
}
.ethiopia:active .inner .ethiopia__item {
  transition: 1.5s;
  transition-delay: 0.8s;
  opacity: 1;
}
.ethiopia .inner .btn.btn--gold {
  position: absolute;
  left: 260px;
  top: 270px;
}

/*Favorite*/
.favorite {
  height: 800px;
  background-attachment: fixed;
  position: relative;
  background-image: url("../images/fav_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.favorite .inner {
  position: relative;
}
.favorite .inner .favorite__img {
  position: absolute;
  width: 912px;
  top: 100px;
  right: -260px;
}
.favorite .inner .favorite__text-2 {
  position: absolute;
  top: 370px;
  width: 362px;
  transform: translateX(-700px);
  opacity: 0;
  transition: 2.5s;
}
.favorite .inner .favorite__text-1 {
  position: absolute;
  left: 108px;
  top: 120px;
  width: 258px;
  transform: translateX(-700px);
  opacity: 0;
  transition: 2s;
}
.favorite:active .inner .favorite__text-2,
.favorite:active .inner .favorite__text-1 {
  transform: translateX(0);
  opacity: 1;
}
.favorite .inner .btn.btn--white {
  position: absolute;
  top: 580px;
  left: 238px;
}

/*Magazine*/
.magazine {
  overflow: hidden;
  height: 400px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center 50px;
  background-image: url("../images/magazine_bg.png");
}
.magazine .inner {
  position: relative;
}
.magazine .inner .magazine__img {
  position: absolute;
  width: 348px;
  right: 50px;
  top: 0px;
  opacity: 0;
  transition: 1.5s;
}
.magazine:active .inner .magazine__img {
  opacity: 1;
}

.magazine .inner .magazine__text {
  position: absolute;
  top: 135px;
  left: 60px;
  width: 588px;
}
.magazine .inner .btn.btn--black {
  position: absolute;
  top: 270px;
  left: 295px;
}

.store {
  position: relative;
  height: 400px;
  background-image: url("../images/store_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.store .inner {
  height: 400px;
}

.store .inner .store__text-1 {
  position: absolute;
  width: 385px;
  top: 100px;
  right: 50px;
  transform: translateX(800px);
  transition: 2s;
}

.store .inner .store__text-2 {
  position: absolute;
  width: 366px;
  top: 170px;
  right: 69px;
  transform: translateX(800px);
  transition: 2.5s;
}

.store .inner .btn.btn--black {
  position: absolute;
  top: 290px;
  right: 330px;
  transform: translateX(800px);
}

.store:active .inner .store__text-1,
.store:active .inner .store__text-2 {
  transform: translateX(0);
}

.store:active .inner .btn.btn--black {
  transform: translateX(0);
  transition: transform 3s, background-color 0.6s, color 0.6s,
    text-decoration 0.6s;
}

.store .inner .store__img-1 {
  position: absolute;
  width: 366px;
  top: 0;
  left: 70px;
  opacity: 0;
  transition: 1.5s;
}

.store .inner .store__img-2 {
  position: absolute;
  width: 228px;
  top: 150px;
  left: 300px;
  opacity: 0;
  transition: 1.5s;
}

.store .inner .store__img-3 {
  position: absolute;
  width: 348px;
  top: -60px;
  left: 430px;
  opacity: 0;
  transition: 1.5s;
}

.store .inner .store__img-4 {
  position: absolute;
  width: 230px;
  right: -70px;
  bottom: 0px;
  opacity: 0;
  transition: 1.5s;
}

.store:active .inner .store__img-1,
.store:active .inner .store__img-2,
.store:active .inner .store__img-3,
.store:active .inner .store__img-4 {
  opacity: 1;
}
