/* Icons*/

/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
  height: 3000px;
}
a {
  text-decoration: none;
}
img {
  display: block; /*베이스라인 적용돼서 띄워져 보이는 것 상쇄*/
}
.inner {
  position: relative;
  width: 1100px;
  margin: 0 auto; /*수평 중앙 정렬*/
}
.strong {
  font-weight: 700;
}
/*BUTTON*/
.btn {
  display: inline-block;
  padding: 6px 20px;
  border: 2px solid currentColor; /*색 지정 안해주면 부모 색 따름*/
  border-radius: 5px;
  font-size: 15px;
}
.btn--light-green {
  color: #076443;
  border-color: #076443;
  transition: 0.6s;
}
.btn--light-green:hover {
  background-color: #076443;
  border-color: black;
  color: white;
  text-decoration: underline;
}
/* HEADER */
header {
  width: 100%;
  position: fixed;
  top: 0; /*상단에 고정*/
  background-color: #f6f5ef;
  border-top: 2px solid black;
  border-bottom: 1px solid #eae7e2;
  z-index: 1;
}
header > .inner {
  height: 120px;
}
header .inner .logo {
  position: absolute;
  height: 75px;
  top: 0;
  bottom: 0;
  margin: auto;
}

/*sub menu*/
header .inner .sub-menu {
  display: flex;
  position: absolute; /*마음대로 이동시키기*/
  top: 6px;
  right: 50px;
}
header .inner .sub-menu .sub-menu__menu {
  display: flex;
}
header .inner .sub-menu .sub-menu__menu > li {
}
header .inner .sub-menu .sub-menu__menu > li:not(:first-child)::before {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  display: block; /*넓이를 주기 위해서*/
  width: 1px;
  height: 13px;
  background-color: #e5e5e5;
}
header .inner .sub-menu .sub-menu__menu > li > a {
  display: block;
  color: #656565;
  font-size: 13px;
  padding: 10px 15px;
}
header .inner .sub-menu .sub-menu__menu > li > a:hover {
  text-decoration: underline;
}
header .inner .sub-menu .search {
  position: relative;
}
header .inner .sub-menu .search > input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  transition: width 0.4s;
}
header .inner .sub-menu .search > input:focus {
  width: 190px;
}
header .inner .sub-menu .search > .material-symbols-outlined {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 24px;
  margin: auto;
  right: 3px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/*Main menu*/
header .inner .main-menu {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}
header .inner .main-menu .item {
}
header .inner .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-size: 13px;
}
header .inner .main-menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #669900;
  text-decoration: underline;
}
header .inner .main-menu .item .item__contents {
  position: fixed;
  display: none;
  left: 0;
  /* transform: scaleY(0);
  transform-origin: center top; /*가로축에서 어디서 시작하는지, 세로축에서 어디서 시작하는지 */
  /*transition: 0.5s; */
  top: 120px;
  width: 100%;
  border: 1px solid black;
}
header .inner .main-menu .item:hover .item__contents {
  display: block;
  /* transform: scale(1); */
}
header .inner .main-menu .item .item__contents .item__contents__menu {
  background-color: #2c2a29;
  padding: 20px 0px;
}
header .inner .main-menu .item .item__contents .item__contents__menu .inner {
  display: flex;
}
header
  .inner
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li {
  width: 200px;
  padding-right: 20px;
}
header
  .inner
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > a {
  display: block;
  margin-bottom: 15px;
  color: white;
  font-size: 14px;
  font-weight: 700px;
}
header
  .inner
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > a:hover {
  text-decoration: underline;
}
header
  .inner
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > ul {
}
header
  .inner
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > ul
  > li {
  color: #999;
  font-size: 12px;
  margin: 5px 0;
}
header
  .inner
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > ul
  > li:hover {
  cursor: pointer;
  text-decoration: underline;
}
/*Badges*/
header .badges {
  position: absolute; /*fixed아니지만, 부모가 fixed이므로*/
  top: 150px;
  right: 10px;
  left: calc(1100px + (100vw-1100px) / 2);
}
header .badges .badge {
  cursor: pointer;
}
header .badges .badge img {
  width: 140px;
}
@media screen and (max-width: 1400px) {
  header .badges {
    left: calc(100vw-150px);
  }
}
/*VISUAL*/
.visual {
  margin-top: 120px;
  background-image: url("../images/visual_bg.jpg");

  position: relative;
  background-size: 106% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.visual .inner {
  position: relative;
  height: 646px;
}
.visual .inner .slogan {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  width: 340px;
  top: 190px;
  left: -130px;
}
.visual .inner .slogan img {
  width: 340px;
}
.visual .inner .slogan .btn {
  position: absolute;
  top: 250px;
}
.visual .inner img {
}
.visual .inner .item-1 {
  position: absolute;
  width: 290px;
  top: 120px;
  left: 340px;
}
.visual .inner .item-2 {
  position: absolute;
  width: 310px;
  top: 208px;
  left: 538px;
}
.visual .inner .item-3 {
  position: absolute;
  width: 310px;
  top: 162px;
  left: 762px;
}

/*Notice*/
.notice {
  position: relative;
}
.notice .notice-line {
  font-weight: 700;
  position: relative;
}
.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #111111;
}
.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}
.notice .notice-line .inner {
  display: flex;
  height: 62px;
}
.notice .notice-line .inner .inner__left {
  position: relative;
  width: 60%;
  height: 100%;
  background-color: #111111;
  display: flex;
  align-items: center;
  color: white;
}
.notice .notice-line .inner .inner__left h1 {
  position: absolute;
  left: 0;
  font-size: 16ox;
}
.notice .notice-line .inner .inner__left div {
  position: absolute;
  left: 80px;
  font: size 14px;
}
.notice .notice-line .inner .inner__left a {
  position: absolute;
  right: 20px;
  color: white;
}

.notice .notice-line .inner .inner__left a span {
  font-size: 36px;
  vertical-align: bottom;
  /* display: block; */
}

.notice .notice-line .inner .inner__right {
  position: relative;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #f6f5ef;
}
.notice .notice-line .inner .inner__right h1 {
  position: absolute;
  right: 120px;
  font-size: 16px;
}
.notice .notice-line .inner .inner__right a {
  position: absolute;
  right: 20px;
  color: black;
}
.notice .notice-line .inner .inner__right a span {
  font-size: 36px;
  display: block;
}

/*REWARDS*/
.reward {
  position: relative;
  background-color: #123932;
}
.reward .inner {
  display: flex;
  position: relative;
  padding: 30px 0 40px 0;
}
.reward .inner .rewards__logo {
  display: flex;
  flex-basis: 260px;
  justify-content: center;
  align-items: center;
}
.reward .inner .rewards__logo img {
  display: block;
  width: 176px;
}
.reward .inner .rewards__items {
  flex-grow: 1;
}
.reward .inner .rewards__items .rewards__items__register {
  position: relative;
  padding-bottom: 12px;
  box-shadow: 0 0.5px #c8c8c8;
}
.reward .inner .rewards__items .rewards__items__register p {
  display: block;
  font-size: 17px;
  color: white;
}
.reward .inner .rewards__items .rewards__items__register p.subject {
  font-size: 26px;
  margin-bottom: 10px;
}
.reward .inner .rewards__items .rewards__items__register .buttons {
  position: absolute;
  right: 0;
  bottom: 12px;
}
.reward
  .inner
  .rewards__items
  .rewards__items__register
  .buttons
  .btn--register {
  background-color: #00704a;
  border-color: #00704a;
  color: white;
  margin-right: 6px;
}
.reward .inner .rewards__items .rewards__items__register .buttons .btn--login,
.reward .inner .rewards__items .rewards__items__card .buttons .btn--login {
  border-color: white;
  color: white;
  font-weight: 700;
}
.reward
  .inner
  .rewards__items
  .rewards__items__register
  .buttons
  .btn--register:hover,
.reward
  .inner
  .rewards__items
  .rewards__items__register
  .buttons
  .btn--login:hover,
.reward
  .inner
  .rewards__items
  .rewards__items__card
  .buttons
  .btn--login:hover {
  text-decoration: underline;
}

.reward .inner .rewards__items .rewards__items__card {
  position: relative;
}
.reward .inner .rewards__items .rewards__items__card p {
  display: block;
  margin-top: 20px;
  font-size: 14px;
  color: white;
}
.reward .inner .rewards__items .rewards__items__card .buttons {
  position: absolute;
  right: 0;
  bottom: 0;
}
.reward .inner .rewards__items .rewards__items__card .buttons .btn--login {
}
